<div class="header">
  <div class="nav">
    <a href="#">Home</a>
    <a href="#">Login</a>
    <a href="#">Dashboard</a>
    <a href="#">Log Out</a>
  </div>
  <div class="logo">
      <h3>Tech Blog</h3>
  </div>
</div>