<div class="d-flex justify-content-center">
  <div class="card card-container text-dark">
    <div class="card-body card-title">
      <form action="/action_page.php">
        <label for="title">Post Title:</label><br />
        <input
          type="text"
          id="post-title"
          name="post-title"
          placeholder="Enter Text..."
          size="100"
        /><br />
        <label for="body">Post Content:</label><br />
        <input
          type="text"
          id="post-content"
          name="post-content"
          placeholder="Enter Text..."
          size="100"
        /><br /><br />
        <div class="d-flex justify-content-center">
          <button id="post-btn" class="post-btn" type="submit">
            Post
          </button>
        </div>
      </form>
    </div>
  </div>
</div>