{{! header }}
<header id="navbar">
  <nav class="navbar navbar-expand-lg bg-none">
    <div class="container-fluid">
      <h3>Tech Blog</h3>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            id="#"
            class="text-light nav-link active underline"
            aria-current="page"
            href="#"
          >Home</a>
        </li>
        <li class="nav-item">
          <a
            id="#"
            class="text-light nav-link active"
            aria-current="page"
            href="#"
          >Profile</a>
        </li>
        <li class="nav-item">
          <a
            id="logout"
            class="text-light nav-link active"
            aria-current="page"
            href="/login"
          >Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

{{! post container }}
<div class="post-container">
  {{! post header containing title/username/date }}
  <div class="post-header">
    <h3>Title</h3>
    <h4>user</h4>
    <h4>date</h4>
  </div>
  {{! post div containing the actual content  }}
  <div class="post-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, itaque.</p>
  </div>
</div>