{{! header }}
<header id="navbar">
  <nav class="navbar navbar-expand-lg bg-none">
    <div class="container-fluid">
      <h3>Tech Blog</h3>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            id="#"
            class="text-light nav-link active"
            aria-current="page"
            href="/homepage"
          >Profile</a>
        </li>
        <li class="nav-item">
          <a
            id="logout"
            class="text-light nav-link active"
            aria-current="page"
            href="/login"
          >Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="d-flex justify-content-center">
  <div class="card card-container text-dark">
    <div class="card-body card-title">
      <form action="/action_page.php">
        <label for="fname">Post Title:</label><br />
        <input
          type="text"
          id="post-title"
          name="fname"
          placeholder="Enter Text..."
          size="60"
        /><br />
        <label for="lname">Post Content:</label><br />
        <input
          type="text"
          id="post-content"
          name="lname"
          placeholder="Enter Text..."
          size="60"
        /><br /><br />
        <button id="post-btn" class="post-btn" type="submit">
          Post
        </button>
      </form>
    </div>
  </div>
</div>

{{! card }}
<div class="feed-posts">
  <div class="d-flex justify-content-center">
    <div class="card card-container text-dark">
      <div class="card-body card-title">
        <h3>Title</h3>
        <p class="username">@user</p>
      </div>
      <div class="card-body card-post">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi,
          aspernatur!</p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="card card-container text-dark">
      <div class="card-body card-title">
        <h3>Title</h3>
        <p class="username">@user</p>
      </div>
      <div class="card-body card-post">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi,
          aspernatur!</p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="card card-container text-dark">
      <div class="card-body card-title">
        <h3>Title</h3>
        <p class="username">@user</p>
      </div>
      <div class="card-body card-post">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi,
          aspernatur!</p>
      </div>
    </div>
  </div>
</div>

{{!-- <div class="d-flex justify-content-center">
  <div class="card card-container text-dark">
    <div class="card-body card-title">
      <h3>{{content.title}}</h3>
      <p class="username">@{{user.username}}</p>
    </div>
    <div class="card-body card-post">
      <p>{{content.post}}</p>
    </div>
  </div>
</div> --}}






