<div class="d-flex justify-content-center">
  <div class="homepage-container">
    <div class="title">
      <h1 class="homepage-title">Tech Blog</h1>
    </div>
    <p class="homepage-text">Check out the buzz!</p>
    <a href="/login"><button class="button">Start Here</button></a>
  </div>
</div>