{{! post container }}
<div class="post-container">
  {{! post header containing title/username/date }}
  <div class="post-header">
    <h3>Title</h3>
    <h4>user</h4>
    <h4>date</h4>
  </div>
  {{! post div containing the actual content  }}
  <div class="post-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, itaque.</p>
  </div>
</div>