{{! sign up }}
<div class="d-flex justify-content-center">
  <div class="login-container">
    <div class="login-title">
      <h1>Sign Up</h1>
    </div>
    <form>
      <div class="login-user">
        <label for="username">Create Username:</label>
        <br />
        <input id="signup-username" size="55" type="text" class="validate" />
      </div>
      <div class="login-password">
        <label for="password">Create Password:</label>
        <br />
        <input
          id="signup-password"
          size="55"
          type="password"
          class="validate"
        />
      </div>
    </form>
    <div class="login-submit">
      <a href="/login"><button
          id="signup-bttn"
          class="button"
        >Submit</button></a>
        <br>
        <a class="link" href="/login">Back</a></p>

    </div>
  </div>
</div>