* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #001427;
  color: white;
  font-family: "Bevellier", sans-serif;
  scroll-behavior: smooth;
}

/* homepage styling  */

.homepage-container {
  width: 400px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 100px 450px;
  border-style: solid;
  border-width: 2px;
  border-color: #44cfcb;
  padding: 20px 20px;
  border-radius: 10%;
  white-space: nowrap;
}

.homepage-title {
  font-weight: bold;
  font-size: 5em;
}

.homepage-text {
  font-size: 1.5em;
}

.button {
  margin-top: 10px;
  background-color: #44cfcb;
  padding: 10px 10px;
  border-radius: 10%;
  color: #001427;
  font-family: "Bevellier", sans-serif;
  font-size: large;
  border-style: solid;
  border-color: #44cfcb;
  cursor: pointer;
  align-items: center;
}

.button:hover {
  background-color: #001427;
  color: white;
  border-color: #44cfcb;
  border-style: solid;
}

/* login page */
.login-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 100px 450px;
  border-style: solid;
  border-width: 2px;
  border-color: #44cfcb;
  padding: 20px 20px;
  width: 400px;
  border-radius: 10%;
  white-space: nowrap;
}

.login-title {
  text-align: center;
}

.login-user {
  margin-bottom: 10px;
}

.login-submit p {
  margin-top: 10px;
}

.link {
  color: #44cfcb;
}

.line {
  color: #001427;
  background-color: #001427;
}

.username {
  color: #44cfcb !important;
}

.card {
  margin-bottom: 10px !important;
}

.post-btn {
  border-radius: 10%;
  border-style: solid;
  border-color: #44cfcb;
  border-width: 2px;
  padding: 10px 10px;
  background-color: #001427;
  color: aliceblue;
}

.edit-btn {
  background-color: #001427;
  color: aliceblue;
  padding: 10px 10px;
  border-radius: 10%;
  border-color: #44cfcb;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 10px;
}

.delete-btn {
  background-color: #001427;
  color: aliceblue;
  padding: 10px 10px;
  border-radius: 10%;
  border-color: #44cfcb;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 10px;
}

.my-posts {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.my-username {
  display: flex;
  justify-content: center;
  color: #44cfcb;
  font-size: 3em;
}

.instructions {
  display: flex;
  justify-content: center;
}

.posts {
  overflow: scroll;
  scroll-behavior: smooth;
  height: calc(106vh - 158px);
  scrollbar-color: #44cfcb;
}

.feed {
  margin-top: 20px;
}
